<%= erb :navpartial %>

<form class="formfield" action='/users/<%=@current_user.username%>/deals' method="get">
	<fieldset>
		<legend> Search deals by vendor or enter all for all deals</legend>
		<label> Vendor Name </label><br>
		<input type="text" name="vendor_name" placeholder="Put vendor name here...">
		<input class="submit" type="submit">
	</fieldset>
</form>

<form class="formfield" action='/users/<%=@current_user.username%>/deals' method="get">
	<fieldset>
		<legend> Search deals by item </legend>
		<label> Item name </label><br>
		<input type="text" name="item_name" placeholder="Put item name here...">
		<input class="submit" type="submit">
	</fieldset>
</form>
<fieldset>
<% if @deals.length == 0 %>
	<legend>You have no deals yet!</legend>
<% else %>
	<legend><%=@placeholder.capitalize %></legend>
	<%end%>
	<table>
		<thead>
			<tr>
				<th class="table">Item Name</th>
				<th class="table">Item Description</th>
				<th class="table">Vendor Name</th>
				<th class="table">Price</th>
				<th colspan="3" class="table">Purchase/Delete/Update</th>
			</tr>
		</thead>
		<tbody>
			<% @deals.each do |deal| %>
				<tr>
					<td class="table"><%= deal.item.name %></td>
					<td class="table"><%= deal.item.description %></td>
					<td class="table"><%= deal.vendor.name %></td>
					<td class="table">$<%= deal.price.to_s.insert(-3, ".") %></td>
					<td class="table">
						<form action='/users/<%=deal.vendor.user.username%>/purchase/<%=deal.id%>' method="post">
							<input type="submit" value="purchase">
						</form>
					</td>
					<td class="table">
						<form action='/users/<%=deal.vendor.user.username%>/deals/<%=deal.id%>/delete' method="delete">
							<input type="submit" value="delete">
						</form>
					</td>
					<td class="table">
						<form action='/users/<%=deal.vendor.user.username%>/deals/<%=deal.id%>' method="get">
							<input type="submit" value="update">
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</fieldset>





