<nav>
	<a href="/users/<%=@current_user.username%>">User Page</a>
	<a href="/users/<%=@current_user.username%>/vendors">Vendors</a>
	<a href="/users/<%=@current_user.username%>/purchases">Purchases</a>
</nav>

<h2> Search deals by vendor or enter all for all deals</h2>

<form action='/users/<%=@current_user.username%>/deals' method="get">
	<legend> Vendor Name </legend>
	<input type="text" name="vendor_name" placeholder="Put vendor name here...">
	<input type="submit">
</form>

<h2> Search deals by item </h2>

<form action='/users/<%=@current_user.username%>/deals' method="get">
	<legend> Item name </legend>
	<input type="text" name="item_name" placeholder="Put item name here...">
	<input type="submit">
</form>

<% if @deals.length == 0 %>
	<h2>You have no deals yet!</h2>
<% else %>
	<h2><%=@placeholder.capitalize %></h2>
	<table>
		<tr>
			<th>Item Name</th>
			<th>Item Description</th>
			<th>Vendor Name</th>
			<th>Price</th>
		</tr>
		<% @deals.each do |deal| %>
			<tr>
				<td><%= deal.item.name %></td>
				<td><%= deal.item.description %></td>
				<td><%= deal.vendor.name %></td>
				<td><%= deal.price %></td>
				<td>
					<form action='/users/<%=deal.vendor.user.username%>/purchase/<%=deal.id%>' method="post">
						<input type="submit" value="purchase">
					</form>
				</td>
				<td>
					<form action='/users/<%=deal.vendor.user.username%>/deals/<%=deal.id%>/delete' method="delete">
						<input type="submit" value="delete">
					</form>
				</td>
				<td><a href='/users/<%=@current_user.username%>/deals/<%=deal.id%>'>update</a></td>
			</tr>
		<% end %>
	</ul>
<%end%>





