<%= erb :navpartial %>
<div class="formfield">
<fieldset>
<% if @purchases.length == 0 %>
	<legend>You have no purchases yet!</legend>
<% else %>
	<legend>Purchases</legend>
	<table>
		<thead>
			<tr>
				<th class="table">Item Name</th>
				<th class="table">Item Description</th>
				<th class="table">Vendor Name</th>
				<th class="table">Price</th>
				<th class="table">Total Purchases</th>
				<th class="table">Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @purchases.each do |purchase| %>
				<tr>
					<td class="table"><%= purchase.deal.item.name %></td>
					<td class="table"><%=purchase.deal.item.description %></td>
					<td class="table"><%= purchase.deal.vendor.name %></td>
					<td class="table">$<%= purchase.deal.price.to_s.insert(-3, ".") %></td>
					<td class="table"><%=purchase.total_purchases %></td>
					<td class="table">
						<form action='/users/<%=purchase.user.username%>/purchases/<%=purchase.id%>/delete' method="delete">
						<input type="submit" value="delete">
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<%end%>
</fieldset>
</div>