<nav>
	<a href="/users/<%=@current_user.username%>">User Page</a>
	<a href="/users/<%=@current_user.username%>/vendors">Vendors</a>
	<a href="/users/<%=@current_user.username%>/deals">Deals</a>
	<a href="/users/<%=@current_user.username%>/purchases">Purchases</a>
</nav>
<% if @purchases.length == 0 %>
	<h2>You have no purchases yet!</h2>
<% else %>
	<h2>Purchases</h2>
	<table>
		<thead>
			<tr>
				<th class="table">Item Name</th>
				<th class="table">Item Description</th>
				<th class="table">Vendor Name</th>
				<th class="table">Price</th>
				<th class="table">Total Purchases</th>
				<th class="table">Delete</th>
			</tr>
		</thead>
		<tbody>
			<% @purchases.each do |purchase| %>
				<tr>
					<td class="table"><%= purchase.deal.item.name %></td>
					<td class="table"><%=purchase.deal.item.description %></td>
					<td class="table"><%= purchase.deal.vendor.name %></td>
					<td class="table"><%= purchase.deal.price %></td>
					<td class="table"><%=purchase.total_purchases %></td>
					<td class="table">
						<form action='/users/<%=purchase.user.username%>/purchases/<%=purchase.id%>/delete' method="delete">
						<input type="submit" value="delete">
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
<%end%>