<form action="/users/<%=@current_user.username%>/deals/<%=@deal_id%>" method ="post">
	<fieldset>
		<legend>Update Deal</legend>
		<label>Vendor</label><br>
		<select name="vendor">
			<% @vendors.each do |vendor| %>
		  	<option value = "<%= vendor.id %>"><%=vendor.name%></option>
		  <% end %>
		</select><br>
		<label>Item</label><br>
		<select name="item">
			<% @items.each do |item| %>
				<option value = "<%= item.id %>"><%=item.name%></option>
			<% end %>
		</select>
		<label>Price</label>
		<input type="text" name="price">
		<p class="submit"><input type="submit"/></p>
	</fieldset>
</form>