<%= erb :navpartial %>

<form class="formfield" action="/create_vendor" method="post">
	<fieldset>
		<legend>Create a Vendor</legend>
		<p><label>Name</label><br>
	  <input type="text" name="name" placeholder="Put vendor name here..." required><p>
	  <p class="submit"><input type="submit"/></p>
	</fieldset>
</form>

<form class="formfield" action="/create_item" method="post">
	<fieldset>
		<legend> Create Item </legend>
		<p><label>Name</label><br>
	  <input type="text" name="name" placeholder="Put name here..." required></p>
	  <p><label>Description</label><br>
	  <input type="text" name="description" required></p>
	  <p class="submit"><input type="submit"></p>
	</fieldset>
</form>

<form class="formfield" action="/create_deal" method ="post">
	<fieldset>
	<legend> Create Deal </legend>
		<label>Vendor</label><br>
		<select name="vendor">
			<% @vendors.each do |vendor| %>
	  	<option value = "<%= vendor.id %>"><%=vendor.name%></option>
	  	<% end %>
		</select><br>
		<label>Item</label><br>
		<select name="item">
			<% @items.each do |item| %>
			<option value = "<%= item.id %>"><%=item.name%></option>
			<% end %>
		</select>
		<label>price</label>
		<input type="text" name="price" required>
		<p class="submit"><input type="submit"></p>
		</fieldset>
	</form>
