<h2> Welcome <%=@current_user.username.capitalize %></h2>
<nav>
	<a href="/users/<%=@current_user.username%>/vendors">Vendors</a>
	<a href="/users/<%=@current_user.username%>/deals">Deals</a>
	<a href="/users/<%=@current_user.username%>/purchases">Purchases</a>
</nav>

<h3>Create a Vendor</h3>
	<form action="/create_vendor" method="post">
	  <legend>Name</legend>
	  <input type="text" name="name" placeholder="Put vendor name here..." required>
	  <input type="submit">
	</form>
<h3> Create Item </h3>
	<form action="/create_item" method="post">
	  <legend>Name</legend>
	  <input type="text" name="name" placeholder="Put name here..." required>
	  <legend>Description</legend>
	  <input type="text" name="description" required>
	  <input type="submit">
	</form>

<h3> Create Deal </h3>
	<form action="/create_deal" method ="post">
		<legend>vendor</legend>
		<select name="vendor">
			<% @vendors.each do |vendor| %>
	  	<option value = "<%= vendor.id %>"><%=vendor.name%></option>
	  	<% end %>
		</select>
		<legend>item</legend>
		<select name="item">
			<% @items.each do |item| %>
			<option value = "<%= item.id %>"><%=item.name%></option>
			<% end %>
		</select>
		<legend>price</legend>
		<input type="text" name="price" required>
		<input type="submit">
	</form>
