<nav>
	<a href="/users/<%=@current_user.username%>">User Page</a>
	<a href="/users/<%=@current_user.username%>/vendors">Vendors</a>
	<a href="/users/<%=@current_user.username%>/deals">Deals</a>
	<a href="/users/<%=@current_user.username%>/purchases">Purchases</a>
</nav>

<ul>
	<% @vendors.each do |vendor| %>
		<li><%= vendor.name %>
		<form action='/users/<%=@current_user.username%>/vendors/<%=vendor.id%>' method="delete">
			<input type="submit" value="delete">
		</form>
		</li>
	<% end %>
</ul>